		<nav class="bar dark">
			<ul>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-shopping-cart"></span> Webshop <span class="caret"></span></a>
					<ul class="dropdown-content shadow-dark">
						<li><a href="{{ path.url }}/shop/compose-category"><span class="fa fa-plus"></span> Add Product Category</a></li>
						<li><a href="{{ path.url }}/posts/shop-category"><span class="fa fa-list-alt"></span> List Product Categories</a></li>
						<li class="header">Products</li>
						<li><a href="{{ path.url }}/product/compose"><span class="fa fa-plus"></span> Add Product</a></li>
						<li><a href="{{ path.url }}/product/list"><span class="fa fa-list-alt"></span> List Products</a></li>
						<li><a href="{{ path.url }}/stock-list"><span class="fa fa-file-pdf-o"></span> Stock List</a></li>
						<li><a href="{{ path.url }}/stock-accounting"><span class="fa fa-file-pdf-o"></span> Stock Accounting</a></li>
						<li class="header">Orders</li>
						<li><a href="{{ path.url }}/order/compose"><span class="fa fa-plus"></span> Add Order</a></li>
						<li><a href="{{ path.url }}/order/list"><span class="fa fa-list-alt"></span> List Orders</a></li>
						<li class="header">Settings</li>
						<li><a href="{{ path.url }}/shop/settings"><span class="fa fa-cogs"></span> Settings</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-file-text-o"></span> Pages <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/page/compose">Add page</a></li>
						<li><a href="{{ path.url }}/posts/page">List pages</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-list-alt"></span> Menus <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/menu/compose">Add menu</a></li>
						<li><a href="{{ path.url }}/posts/menu">List menus</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-star"></span> Workspaces <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/workspace/compose">Create workspace</a></li>
						<li><a href="{{ path.url }}/workspace/list">List workspaces</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-money"></span> Currencies <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/currency/compose">Add currency</a></li>
						<li><a href="{{ path.url }}/currency/list">List currencies</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-truck"></span> Shipping <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/shipping/compose">Add shipping method</a></li>
						<li><a href="{{ path.url }}/shipping/list">List shipping methods</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-percent"></span> VAT <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/tax/compose">Add tax rate</a></li>
						<li><a href="{{ path.url }}/tax/list">List tax rates</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-file-pdf-o"></span> PDF templates <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/pdf/compose">Create PDF Template</a></li>
						<li><a href="{{ path.url }}/pdf/list">List PDF Templates</a></li>
					</ul>
				</li>
				<li class="dropdown fade">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-users"></span> Customers & Distributors  <span class="caret"></span></a>
					<ul class="dropdown-content">
						<li><a href="{{ path.url }}/customer/compose"><span class="fa fa-plus">&nbsp;</span>Create Customer</a></li>
						<li><a href="{{ path.url }}/customer/list"><span class="fa fa-list-alt">&nbsp;</span>List Customers</a></li>
						<li><a href="{{ path.url }}/customer/pdf"><span class="fa fa-file-pdf-o">&nbsp;</span>Customer List</a></li>
						<li class="header">Distributors</li>
						<li><a href="{{ path.url }}/distributor/compose"><span class="fa fa-plus">&nbsp;</span>Create Distributor</a></li>
						<li><a href="{{ path.url }}/distributor/list"><span class="fa fa-list-alt">&nbsp;</span>List Distributors</a></li>
						<li><a href="{{ path.url }}/distributor/pdf"><span class="fa fa-file-pdf-o">&nbsp;</span>Distributor List</a></li>
					</ul>
				</li>
			</ul>
		</nav>
