{% extends 'index.twig' %}

{% block content %}
			<main>
				<div class="ui compact icon menu">
					<a class="item" href="{{ url.base }}/user/compose"><i class="add user icon"></i></a>
					<a class="item" href="{{ url.base }}/setting/ui/User"><i class="cogs icon"></i></a>
				</div>
				<div class="ui ten column centered grid">
					<div class="ten wide column">
						<h2>User list</h2>
						<table class="ui celled compact table records" id="user-ui-table" data-insert="append">
							<thead>
								<tr>
									<th>Username</th>
									<th>Type</th>
									<th>Status</th>
									<th>Last login</th>
									<th>Last active</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
{% for user in accounts %}
								<tr data-record="{{ user.user_id }}">
									<td>{{ user.login }}</td>
									<td>{% if user.type is null %}No type assigned{% else %}{{ user.type }}{% endif %}</td>
									<td>{% if user.last_login is null %}No activity{% else %}{{ user.last_login }}{% endif %}</td>
									<td>{% if user.locked == 1 %}<i class="lock icon"></i>{% else %}<i class="unlock alternate icon"></i>{% endif %}</td>
									<td>{% if user.last_active is null %}No activity{% else %}{{ user.last_active }}{% endif %}</td>
									<td class="collapsing">
										<a href="{{ url.base }}/account/edit/{{ user.user_id }}"><i class="edit icon"></i></a>
										<a href="{{ url.base }}/account/get/{{ user.user_id }}" class="ajax" data-form="#user-ui-password-form" data-modal="#user-ui-password-modal" data-message="#user-ajax-link-message"><i class="key icon"></i></a>
										<a href="{{ url.base }}/account/delete/{{ user.user_id }}" class="ajax" data-confirm="Are you sure you want to delete this user?" data-message="#user-ajax-link-message" data-remove="record"><i class="delete icon"></i></a>
									</td>
								</tr>
{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</main>
			<div class="ui modal" id="user-ui-password-modal">
				<i class="close icon"></i>
				<div class="header">Change password</div>
				<div class="content">
					<form method="post" action="{{ url.base }}/account/update-password" id="user-ui-password-form" class="ui form ajax-form" autocomplete="off">
						<input type="hidden" name="user_id">
						<div class="ui message hidden">
							<i class="close icon"></i>
							<div class="header">&nbsp;</div>
							<ul class="list hidden"></ul>
						</div>
						<div class="two fields">
							<div class="field required">
								<label>New password</label>
								<input name="password" placeholder="New password" type="password">
							</div>
							<div class="field required">
								<label>Repeat new password</label>
								<input name="repeat_password" placeholder="Repeat new password" type="password">
							</div>
						</div>
					</form>
				</div>
				<div class="actions">
					<div class="ui buttons">
						<button class="ui default deny button"><i class="checkmark icon">&nbsp;</i>Done</button>
						<div class="or"></div>
						<button type="submit" form="user-ui-password-form" class="ui olive button"><i class="save icon">&nbsp;</i>Save</button>
					</div>
				</div>
			</div>
{% include 'confirm-dialog.twig' %}
{% endblock %}
