{% extends 'index.twig' %}

{% block content %}
			<main>
				<div class="ui compact icon menu">
					<a class="item" href="{{ url.base }}/user/compose"><i class="add user icon"></i></a>
					<a class="item" href="{{ url.base }}/user/display"><i class="list icon"></i></a>
					<a class="item" href="{{ url.base }}/setting/ui/User"><i class="cogs icon"></i></a>
				</div>
				<div class="ui six column centered grid">
					<div class="six wide column">
						<h2>Update user account</h2>
						<form method="post" action="{{ url.base }}/account/update" class="ui form ajax-form">
							<input type="hidden" name="user_id" value="{{ user.user_id }}">
							<div class="ui message hidden">
								<i class="close icon"></i>
								<div class="header">&nbsp;</div>
								<ul class="list hidden"></ul>
							</div>
							<div class="two fields">
								<div class="field required">
									<label>Username / Email address</label>
									<input name="login" placeholder="Username / Email address" type="text" value="{{ user.login }}">
								</div>
								<div class="field">
									<label>Account type</label>
									<select class="ui dropdown" name="type">
										<option value="admin"{% if user.type == 'admin' %} selected{% endif %}>Administrator</option>
{% for account_type in account_types %}
										<option value="{{ account_type|lower }}"{% if user.type == account_type|lower %} selected{% endif %}>{{ account_type }}</option>
{% endfor %}
									</select>
								</div>
							</div>
							<div class="field">
								<div class="ui slider checkbox">
									<input tabindex="0" class="hidden" type="checkbox" name="locked" value="1"{% if user.locked == 1 %} checked{% endif %}>
									<label>User account is locked</label>
								</div>
							</div>
							<div class="field">
								<button class="ui left basic primary labeled icon button" type="submit"><i class="save icon">&nbsp;</i>Update user account</button>
							</div>
						</form>
					</div>
				</div>
			</main>
{% endblock %}
